@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: 'Afacad', sans-serif;
  font-family: 'Poppins', sans-serif;
}

#container {
  height: 100%;
  width: 100%;
  background: url(https://wallpapercave.com/wp/wp3324196.jpg) center center;
  background-size: cover;
  color: white;

}

#overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main1 {
  margin-top: 20px;
}
#main1, .main2 {
  font-size: 250%;
}

#columns {
  display: flex;
  justify-content: center;
  gap: 10%;
  text-align: center;
  margin-top: 20px;
}

#columns #col label {
  font-size: 14px;
}

#col {
  width: 10%;
}

input {
  /* height: 40px; */
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  outline: none;
  text-align: center;
  background-color: rgb(194, 192, 192);
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

