@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Afacad', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.main {
  height: 100vh;
  width: 100%;
  background-color: rgb(57, 164, 159);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container, #container {
  width: 450px;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  padding: 15px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

h2 {
  margin-bottom: 10px;
}

.row {
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
  vertical-align: middle;
}

#btn {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  border: none;
  color: white;
  background-color: rgb(57, 164, 159);
  transition: all 0.15s;
  padding: 5px;
  font-size: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -ms-transition: all 0.15s;
  -o-transition: all 0.15s;
}

#btn:hover {
  background-color: rgb(48, 121, 117);
}